body.signin-body {
    background-color: #EBF4FD;
}

.jumbotron {
    text-align: center;
    background: none;
}

.sectionlight {
    background-color: rgb(50, 110, 171);
    padding: 2rem;
}

.container.signin-container {
    margin: 8%;
}

.card.signin-card {
    padding: 40px 0px 20px;
    background-color: #f4f4f4;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
}

img.signin-img {
    padding: 0 2rem 2rem;
    margin: auto;
    display: block;
}

form.signin-form {
    max-width: 350px;
    margin: auto;
}

button.signin-btn {
    color: #fff;
    background-color: #82CFCC;
    width: 100%;
}

a.create-new-account {
    font-size: 1.2rem;
    text-align: center;
    display: block;
    margin-top: 15px;
}

h4.welcome {
    text-align: center;
}